/*This is a simple example of a flex parent/child relation. Play around with changing the flex properties.
Check https://css-tricks.com/snippets/css/a-guide-to-flexbox/ for more details. */

section {
    background: red;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
}

div {
 background: yellow;
 height: 100px;
 flex: 1 0 auto;
 border: 1px solid blue;
}